body {
  background-color: #fcf6e0;
  font-family: Dosis, sans-serif;
  color: #292827;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Calligraffitti, sans-serif;
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Calligraffitti, sans-serif;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: -0.01em;
}

p {
  margin-bottom: 0px;
  font-size: 1.05em;
  line-height: 1.55em;
}

a {
  -webkit-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955), color 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 250ms cubic-bezier(.455, .03, .515, .955), color 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 250ms cubic-bezier(.455, .03, .515, .955), color 250ms cubic-bezier(.455, .03, .515, .955), transform 250ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 250ms cubic-bezier(.455, .03, .515, .955), color 250ms cubic-bezier(.455, .03, .515, .955), transform 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.section {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 8em 6em;
}

.section.s-landing {
  overflow: hidden;
  height: 100vh;
  background-color: #fcf6e0;
}

.section.s-footer {
  background-color: #d34e4e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d34e4e), to(#f09b86));
  background-image: linear-gradient(180deg, #d34e4e, #f09b86);
  color: #fcf6e0;
}

.section.s-red {
  z-index: 1;
  background-color: #d34e4e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f09b86), to(#d34e4e));
  background-image: linear-gradient(0deg, #f09b86, #d34e4e);
  color: #fcf6e0;
}

.section.s-dark {
  background-color: #f7f1dc;
}

.container {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 75em;
  margin-right: auto;
  margin-left: auto;
}

.container.container-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.h-wrapper {
  position: relative;
  margin-bottom: 1em;
}

.h-wrapper.hw-large {
  margin-bottom: 2em;
}

.h-wrapper.hw-large.hw-hidden {
  display: none;
}

.h-wrapper.hw-huge {
  margin-bottom: 4em;
}

.h-wrapper.hw-small {
  margin-bottom: 0.5em;
}

.h-wrapper.hw-tiny {
  margin-bottom: 0.25em;
}

.button {
  position: relative;
  z-index: 1;
  padding: 0.5em 2em;
  border: 2px solid #fcf6e0;
  border-radius: 0.5em;
  background-color: #fcf6e0;
  -webkit-transition: opacity 250ms cubic-bezier(.455, .03, .515, .955), border 250ms cubic-bezier(.455, .03, .515, .955), background-color 250ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 250ms cubic-bezier(.455, .03, .515, .955), border 250ms cubic-bezier(.455, .03, .515, .955), background-color 250ms cubic-bezier(.455, .03, .515, .955);
  color: #d34e4e;
  cursor: pointer;
}

.button.b-inactive {
  border-color: #fcf6e0;
  background-color: rgba(211, 97, 69, 0);
  color: #fcf6e0;
}

.button.b-red {
  border-color: #d34e4e;
  background-color: #d34e4e;
  color: #fcf6e0;
}

.highlight {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.highlight.h-small {
  font-size: 0.65em;
  line-height: 1.2em;
}

.highlight.h-large {
  font-size: 0.92em;
  line-height: 1.2em;
  font-weight: 600;
}

.highlight.h-large.h-large-inline {
  display: inline;
  margin-left: 1em;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 1px solid #292827;
}

.tab-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 1em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0.4em 0.4em 0em 0em;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.tab-link:hover {
  background-color: #f7f1dc;
}

.tab-link.w--current {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f1dc;
}

.tab-icon {
  height: 100%;
}

.tab-icon.ti-tiny {
  height: 80%;
}

.tab-icon.ti-small {
  height: 95%;
}

.tab-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4em;
  margin-bottom: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-content {
  overflow: visible;
}

.tab-pane {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab-pane-left {
  padding-right: 2em;
}

.tab-pane-right {
  width: 50%;
  height: 26vw;
  max-height: 22em;
  min-height: 18em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.small {
  font-size: 0.965em;
  line-height: 1.5em;
}

.tab-slider {
  height: 100%;
  background-color: transparent;
}

.tab-slide {
  overflow: hidden;
  border-radius: 0.4em;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.tab-slide.ts-1-1 {
  background-image: url('../images/thai001.jpg');
}

.tab-slide.ts-1-2 {
  background-image: url('../images/thai002.jpg');
}

.tab-slide.ts-1-3 {
  background-image: url('../images/thai003.jpg');
}

.tab-slide.ts-4-1 {
  background-image: url('../images/bauch001.jpg');
}

.tab-slide.ts-4-2 {
  background-image: url('../images/bauch002.jpg');
}

.tab-slide.ts-4-3 {
  background-image: url('../images/bauch003.jpg');
}

.tab-slide.ts-2-1 {
  background-image: url('../images/fuss001.jpg');
}

.tab-slide.ts2-2 {
  background-image: url('../images/fuss002.jpg');
}

.tab-slide.ts-3-1 {
  background-image: url('../images/sport001.jpg');
}

.tab-slide.ts-3-2 {
  background-image: url('../images/sport002.jpg');
}

.tab-slide.ts-3-3 {
  background-image: url('../images/sport003.jpg');
}

.tab-slide-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-pane-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tab-slide-mask {
  background-color: transparent;
}

.tab-slide-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
}

.tab-tag-wrapper {
  margin-top: 2em;
}

.tag {
  margin: 0.25em;
  padding: 0.25em 1em;
  border-radius: 20em;
  background-color: #292827;
  color: #fcf6e0;
}

.tag.t-timeline {
  margin: 0em 0em 0.25em;
}

.tag.t-nopad {
  margin: 0em;
}

.tab-tag-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -0.25em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.arrow {
  width: 100%;
}

.arrow.a-reverse {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.image-2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -2em;
}

.footer-column {
  padding: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-column.fc-small {
  width: 25%;
}

.radio-button-wrapper {
  position: relative;
  margin: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 250ms cubic-bezier(.455, .03, .515, .955);
}

.radio-button-wrapper:hover {
  background-color: hsla(47, 82%, 93%, .2);
}

.radio-button-field {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  margin-bottom: 0px;
  padding-left: 0px;
  opacity: 0;
}

.radio-button-label {
  display: none;
}

.footer-radio-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -0.5em -0.5em 0.5em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.radio-button {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.submit-wrapper {
  position: relative;
  display: inline-block;
}

.submit-button {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
}

.text-field {
  height: auto;
  max-width: 28.8em;
  margin-bottom: 0px;
  padding: 0.5em 0px;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: #fcf6e0;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(.455, .03, .515, .955);
  transition: border 250ms cubic-bezier(.455, .03, .515, .955);
  color: #fcf6e0;
  font-size: 1em;
  line-height: 1.6em;
}

.text-field:focus {
  border-bottom-color: #d34e4e;
}

.text-field::-webkit-input-placeholder {
  color: hsla(47, 82%, 93%, .25);
}

.text-field:-ms-input-placeholder {
  color: hsla(47, 82%, 93%, .25);
}

.text-field::-ms-input-placeholder {
  color: hsla(47, 82%, 93%, .25);
}

.text-field::placeholder {
  color: hsla(47, 82%, 93%, .25);
}

.text-field.tf-large {
  height: 6em;
}

.message {
  margin-top: 1em;
  padding: 0.75em 1.5em;
  border-radius: 0.4em;
}

.message.m-success {
  margin-top: 0em;
  background-color: #fcf6e0;
  color: #292827;
}

.message.m-error {
  background-color: #d34e4e;
  color: #fcf6e0;
}

.about-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 30em;
  margin-right: -2em;
  margin-left: -2em;
}

.about-column {
  position: relative;
  z-index: 1;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.timeline-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about-image {
  width: 100%;
  max-width: none;
}

.timeline-bullet-wrapper {
  position: relative;
  width: 2em;
  margin-right: 2em;
}

.timeline-bullet {
  position: relative;
  z-index: 2;
  width: 2em;
  height: 2em;
  border: 2px solid #292827;
  border-radius: 100%;
  background-color: #fcf6e0;
}

.timeline-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.25em;
  padding-bottom: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  width: 2px;
  height: 100%;
  background-color: #292827;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.timeline-content {
  margin-top: -0.1em;
}

.pricing-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
}

.pricing-column {
  position: relative;
  z-index: 1;
  width: 25%;
  padding: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pricing-inlay {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 0.5em;
  background-color: #fcf6e0;
  box-shadow: 0 1px 1px 0 hsla(0, 55%, 62%, .8);
  -webkit-transition: box-shadow 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  transition: box-shadow 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  transition: transform 250ms cubic-bezier(.455, .03, .515, .955), box-shadow 250ms cubic-bezier(.455, .03, .515, .955);
  transition: transform 250ms cubic-bezier(.455, .03, .515, .955), box-shadow 250ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 250ms cubic-bezier(.455, .03, .515, .955);
  color: #292827;
  text-align: center;
}

.pricing-inlay:hover {
  box-shadow: 0 12px 50px 0 hsla(0, 55%, 62%, .8);
  -webkit-transform: translate(0px, -0.25em);
  -ms-transform: translate(0px, -0.25em);
  transform: translate(0px, -0.25em);
}

.pricing-image-wrapper {
  height: 8vw;
  max-height: 6.5em;
  margin-bottom: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pricing-image {
  height: 100%;
  max-width: none;
}

.pricing-inlay-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-inlay-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.number {
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 500;
}

.number.n-one {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.number.n-two {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.number.n-three {
  position: absolute;
  top: 0px;
  right: 0px;
}

.number.n-small {
  font-size: 2.5em;
}

.large {
  font-size: 1.2em;
  line-height: 1.6em;
}

.pricing-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-menu-inlay {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 28em;
  height: 2.5em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10em;
  background-color: hsla(47, 82%, 93%, .13);
}

.pricing-menu-link {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fcf6e0;
  cursor: pointer;
}

.pricing-menu-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 33.33%;
  height: 100%;
  background-color: #292827;
}

.number-wrapper {
  position: relative;
  width: 5em;
  height: 3.5em;
  margin-right: 0.25em;
}

.boxed {
  max-width: 50em;
}

.pricing-padding {
  width: 100%;
  height: 2em;
}

.landing-drop {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: none;
}

.landing-drop-wrapper {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 3;
  width: 1.5em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-overlay {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: #f7f1dc;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-overlay.lo-alt {
  z-index: 2;
  background-color: #fcf6e0;
}

.landing-drop-line {
  position: absolute;
  left: 50%;
  bottom: 55%;
  z-index: 3;
  width: 2px;
  height: 100vh;
  background-color: #292827;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.landing-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  display: block;
  width: 16vw;
  max-width: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-logo-title-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35vw;
  max-width: none;
  margin-top: 16vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.navigation {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3em;
  padding-right: 6em;
  padding-left: 6em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2em;
  margin-left: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d34e4e;
}

.testimonial-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  width: 80%;
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
}

.testimonial-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.testimonial-image {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background-image: url('../images/marcel_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.testimonial-item {
  margin-right: 2em;
  margin-left: 2em;
  -webkit-transition: opacity 500ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 500ms cubic-bezier(.455, .03, .515, .955);
}

.tiny {
  font-size: 0.9em;
  line-height: 1.45em;
  font-style: italic;
}

.tiny.t-opacity {
  opacity: 0.67;
}

.pricing-price {
  overflow: hidden;
  margin-left: -0.5em;
}

.pricing-price-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.trigger-scroll {
  position: absolute;
  left: 0px;
  top: -2em;
  width: 100%;
  height: 1px;
}

.testimonials {
  position: relative;
  padding-right: 3em;
  padding-left: 3em;
}

.testimonials-arrow-wrapper {
  position: absolute;
  top: 50%;
  right: -1.5em;
  z-index: 3;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.testimonials-arrow-wrapper.taw-left {
  left: -1.5em;
  top: 50%;
  right: auto;
  -webkit-transform: translate(0px, -50%) rotate(180deg);
  -ms-transform: translate(0px, -50%) rotate(180deg);
  transform: translate(0px, -50%) rotate(180deg);
}

.testimonials-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 33.33%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(47, 57%, 91%, 0)), to(#f7f1dc));
  background-image: linear-gradient(90deg, hsla(47, 57%, 91%, 0), #f7f1dc);
}

.testimonials-overlay.to-reverse {
  left: 0px;
  top: 0px;
  right: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.testimonials-overlay-inlay {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 10em;
  height: 100%;
  background-color: #f7f1dc;
}

.social-links {
  position: absolute;
  left: 2em;
  top: 2em;
}

.social-icon-wrapper {
  height: 1.25em;
  margin-right: 1em;
}

.social-icon {
  height: 100%;
}

.body {
  background-color: #fcf6e0;
}

.footer-inlay-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer-inlay-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-form {
  margin-bottom: 0px;
}

.partner {
  width: 10em;
}

.partner.partner-small {
  width: 8em;
}

.partner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.partner-link {
  margin-left: 2em;
}

.footer-social {
  margin-top: 1em;
}

.pricing-link {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
}

.pricing-menu-info {
  position: absolute;
  right: 50%;
  margin-right: 15em;
  text-align: center;
}

.info {
  font-family: Calligraffitti, sans-serif;
  color: #f09b86;
  line-height: 1.2em;
}

.info.info-red {
  width: 10em;
  color: #d34e4e;
}

.pricing-info-wrapper {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  margin-top: 1em;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.pricing-info {
  color: #fcf6e0;
}

.timeline-hidden {
  color: #97928d;
}

.timeline-bullet-inlay {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #292827;
}

.footer-link {
  color: #fcf6e0;
}

.footer-scroll {
  position: absolute;
  left: 0px;
  bottom: 100vh;
  width: 100%;
  height: 0px;
}

.footer-info-wrapper {
  position: absolute;
  left: 100%;
  top: 0.1em;
  display: none;
  margin-left: 1em;
}

.footer-info {
  -webkit-transition: opacity 500ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 500ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 500ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 500ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 500ms cubic-bezier(.455, .03, .515, .955), transform 500ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 500ms cubic-bezier(.455, .03, .515, .955), transform 500ms cubic-bezier(.455, .03, .515, .955), -webkit-transform 500ms cubic-bezier(.455, .03, .515, .955);
}

.about-more-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(47, 82%, 93%, 0)), color-stop(80%, #fcf6e0));
  background-image: linear-gradient(180deg, hsla(47, 82%, 93%, 0), #fcf6e0 80%);
}

.pricing-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.workshop-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.workshop-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 1em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.workshop-inlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0.5em;
  background-color: #eee8d4;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.workshop-inlay.wi-one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 57, 53, .8)), to(rgba(61, 57, 53, .8))), url('../images/grundkurs.jpg');
  background-image: linear-gradient(180deg, rgba(61, 57, 53, .8), rgba(61, 57, 53, .8)), url('../images/grundkurs.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fcf6e0;
}

.workshop-inlay.wi-two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 57, 53, .8)), to(rgba(61, 57, 53, .8))), url('../images/dynamisch.jpg');
  background-image: linear-gradient(180deg, rgba(61, 57, 53, .8), rgba(61, 57, 53, .8)), url('../images/dynamisch.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fcf6e0;
}

.workshop-inlay.wi-three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 57, 53, .9)), to(rgba(61, 57, 53, .9))), url('../images/fuss.jpg');
  background-image: linear-gradient(180deg, rgba(61, 57, 53, .9), rgba(61, 57, 53, .9)), url('../images/fuss.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #f7f1dc;
}

.workshop-inlay.wi-four {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 57, 53, .8)), to(rgba(61, 57, 53, .8))), url('../images/festivals.jpg');
  background-image: linear-gradient(180deg, rgba(61, 57, 53, .8), rgba(61, 57, 53, .8)), url('../images/festivals.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fcf6e0;
}

.dim-grey {
  color: #97928d;
}

.workshop-meta-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  margin-left: -2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.workshop-meta-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.workshop-meta-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4em;
  height: 4em;
  margin-top: 0.1em;
  padding-bottom: 0.2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f09b86;
  background-image: none;
  color: #292827;
}

.checkbox-wrapper {
  cursor: pointer;
}

.checkbox-label {
  display: none;
}

.checkbox-field {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.checkbox-fake {
  position: relative;
  bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  float: none;
  cursor: pointer;
}

.checkbox-fake-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fcf6e0;
  border-radius: 0.5em;
}

.checkbox-fake-check {
  width: 60%;
}

.inline {
  display: inline;
}

.italic {
  font-style: italic;
}

.medium {
  font-weight: 400;
}

.white {
  color: #f7f1dc;
}

html.w-mod-js *[data-ix="ia-display-block"] {
  display: block;
}

html.w-mod-js *[data-ix="ia-pricing-info"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, -0.25em);
  -ms-transform: translate(0px, -0.25em);
  transform: translate(0px, -0.25em);
}

html.w-mod-js *[data-ix="ia-timeline"] {
  display: none;
  opacity: 0;
  height: 0px;
}

html.w-mod-js *[data-ix="ia-left-100"] {
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}

html.w-mod-js *[data-ix="ia-opacity-0"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="ia-footer-info"] {
  opacity: 0;
  -webkit-transform: translate(0.5em, 0px);
  -ms-transform: translate(0.5em, 0px);
  transform: translate(0.5em, 0px);
}

html.w-mod-js *[data-ix="tab-price-ia"] {
  opacity: 0;
  height: 0px;
}

html.w-mod-js *[data-ix="social-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .section {
    padding-right: 4em;
    padding-left: 4em;
  }
  .container {
    width: 100%;
  }
  .highlight.h-large {
    font-size: 0.95em;
  }
  .tab-pane-left {
    margin-bottom: 2em;
    padding-right: 0em;
  }
  .tab-pane-right {
    width: 100%;
    height: 60vw;
  }
  .tab-pane-inlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-column.fc-large {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .footer-column.fc-small {
    width: 50%;
  }
  .about-row {
    margin-right: 0em;
    margin-bottom: -2em;
    margin-left: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-column {
    padding-right: 0em;
    padding-bottom: 2em;
    padding-left: 0em;
  }
  .pricing-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pricing-column {
    width: 50%;
  }
  .pricing-image-wrapper {
    height: 10vw;
  }
  .pricing-padding.pp-top {
    height: 1em;
  }
  .landing-logo {
    width: 22vw;
  }
  .landing-logo-title-wrapper {
    width: 45vw;
    margin-top: 21vw;
  }
  .navigation {
    padding-right: 4em;
    padding-left: 4em;
  }
  .navigation-link {
    margin-right: 1em;
    margin-left: 1em;
  }
  .testimonials-overlay {
    width: 20%;
  }
  .workshop-column {
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .section {
    padding-right: 2em;
    padding-left: 2em;
  }
  .h-wrapper.hw-large {
    margin-bottom: 1em;
  }
  .tab-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tab-link {
    min-width: 11em;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .landing-drop-wrapper {
    top: 38%;
  }
  .landing-overlay {
    top: 38%;
  }
  .landing-drop-line {
    bottom: 62%;
  }
  .navigation {
    padding-right: 2em;
    padding-left: 2em;
  }
  .navigation-link {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .testimonial-wrapper {
    width: 100%;
  }
  .trigger-scroll {
    top: -1em;
  }
  .testimonials-overlay {
    display: none;
  }
  .partner {
    width: 8em;
  }
  .partner.partner-small {
    width: 6em;
  }
  .partner-wrapper {
    margin-left: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .partner-link {
    margin-top: 2em;
    margin-left: 0em;
  }
  .workshop-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .workshop-meta-row {
    margin-top: 2em;
  }
}

@media (max-width: 479px) {
  .highlight {
    font-size: 0.7em;
  }
  .tab-link {
    width: 50%;
    min-width: 0px;
  }
  .tab-pane-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-column {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .text-field {
    max-width: 27.25em;
  }
  .timeline-content-wrapper {
    padding-bottom: 1em;
  }
  .pricing-row {
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
  }
  .pricing-column {
    width: 100%;
    padding-top: 0em;
    padding-right: 0em;
    padding-left: 0em;
  }
  .pricing-image-wrapper {
    height: 20vw;
  }
  .number.n-small {
    font-size: 2em;
  }
  .landing-drop-wrapper {
    top: 35%;
  }
  .landing-overlay {
    top: 35%;
  }
  .landing-drop-line {
    bottom: 65%;
  }
  .landing-logo {
    width: 40vw;
  }
  .landing-logo-title-wrapper {
    width: 80vw;
    margin-top: 36vw;
  }
  .navigation {
    height: auto;
    padding-right: 1em;
    padding-left: 1em;
  }
  .navigation-inlay {
    padding-bottom: 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navigation-link {
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .testimonials {
    padding-right: 0em;
    padding-left: 0em;
  }
  .partner-wrapper {
    margin-top: 1em;
  }
  .partner-link {
    margin-top: 1em;
  }
  .workshop-meta-row {
    margin-left: -1em;
  }
  .workshop-meta-column {
    margin-left: 1em;
  }
  .workshop-meta-circle {
    width: 3.5em;
    height: 3.5em;
  }
}

@font-face {
  font-family: 'The Secret';
  src: url('../fonts/thesecret-regular.eot') format('embedded-opentype'), url('../fonts/thesecret-regular.woff') format('woff'), url('../fonts/thesecret-regular.ttf') format('truetype'), url('../fonts/TheSecret-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quickpen';
  src: url('../fonts/quickpen.eot') format('embedded-opentype'), url('../fonts/quickpen.woff') format('woff'), url('../fonts/quickpen.ttf') format('truetype'), url('../fonts/original-quickpen.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}